footer {
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5em;
    line-height: 3.5em;
    width: 100%;
    position: fixed;
    bottom: 0;
}
