header {
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5em;
    line-height: 3.5em;
    width: 100%;

    a {
        color: inherit;
        text-decoration: none;
    }

    nav {
        line-height: 1;
        overflow: hidden;
        padding: 1.5em;

        ul {
            list-style: none;
            margin: 0;
            display: block;

            li {
                display: inline-block;
                padding: 1em;
            }
        }
    }
}
