.main {
    display: block;

    align-items: center;
    justify-content: center;

    min-height: 100vh;
    position: relative;

    .main-body {
        display: flex;

        align-items: center;
        justify-content: center;

        .main-body-container {
            width: 50%;

            .main-component {
                background-color: white;
                border: solid 1px black;
                margin: 3%;
                padding: 1%;
            }
        }
    }
}
