.main {
    .main-body {
        display: flex;

        align-items: center;
        justify-content: center;

        .main-body-container {
            width: 100%;
        }

        @media (min-width: 800px) {
            .main-body-container {
                width: 800px;
            }
        }

        .main-component {
            background-color: white;
            border: solid 1px black;
            margin: 3%;
            padding: 3%;
        }
    }
}
